.page-404 {
  margin-top: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between
}

.titre-404 {
  color: #ff6060;
  font-size: 200px;
  margin: auto;
}

.description-404 {
  color: #ff6060;
  display: block;
  font-size:35px;
}

.lien-site.lien-404 {
  display: block;
  margin-top: 150px;
}

@media screen and (max-width: 1490px) {

  .titre-404 {
    font-size: 96px;
  }
  
  .description-404 {
    font-size: 18px;
  }
}